@font-face {
  font-family: 'iconfont';  /* Project id 2843339 */
  src: url('https://at.alicdn.com/t/font_2843339_pkuca3ehro.woff2?t=1651650819303') format('woff2'),
  url('https://at.alicdn.com/t/font_2843339_pkuca3ehro.woff?t=1651650819303') format('woff'),
  url('https://at.alicdn.com/t/font_2843339_pkuca3ehro.ttf?t=1651650819303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weipingjia:before {
  content: "\e632";
}

.icon-pingjia1:before {
  content: "\e634";
}

.icon-jifen2:before {
  content: "\e640";
}

.icon-renwu:before {
  content: "\e615";
}

.icon-weigouxuan:before {
  content: "\e688";
}

.icon-jifen3:before {
  content: "\f975";
}

.icon-huiyuan:before {
  content: "\e643";
}

.icon-zhanghuyue:before {
  content: "\e619";
}

.icon-jifen:before {
  content: "\e614";
}

.icon-youhuiquan1:before {
  content: "\e623";
}

.icon-jifen1:before {
  content: "\e7cc";
}

.icon-weixinzhifu:before {
  content: "\e620";
}

.icon-zhifubaozhifu:before {
  content: "\e65f";
}

.icon-youhui:before {
  content: "\e774";
}

.icon-yue:before {
  content: "\e69f";
}

.icon-paihangbang:before {
  content: "\e68f";
}

.icon-paihangbang1:before {
  content: "\e6dd";
}

.icon-jilu:before {
  content: "\e642";
}

.icon-liulanjilu:before {
  content: "\e63b";
}

.icon-6xiaoliang:before {
  content: "\e660";
}

.icon-kehuxiaoliang3x:before {
  content: "\e612";
}

.icon-xiaoliang:before {
  content: "\e61f";
}

.icon-kucun:before {
  content: "\e647";
}

.icon-kucun1:before {
  content: "\e610";
}

.icon-fenlei:before {
  content: "\e65e";
}

.icon-fenlei1:before {
  content: "\e638";
}

.icon-bangzhuzhongxin:before {
  content: "\e696";
}

.icon-jifenshangcheng2:before {
  content: "\e687";
}

.icon-fenxiao:before {
  content: "\e639";
}

.icon-jifenshangcheng:before {
  content: "\e686";
}

.icon-fenxiao1:before {
  content: "\e61e";
}

.icon-jifenshangcheng1:before {
  content: "\e616";
}

.icon-fenxiao2:before {
  content: "\e890";
}

.icon-clean:before {
  content: "\e60e";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-kefu1:before {
  content: "\e625";
}

.icon-youhuiquan:before {
  content: "\e611";
}

.icon-comment:before {
  content: "\e62a";
}

.icon-pingjia:before {
  content: "\e621";
}

.icon-bianji:before {
  content: "\eb61";
}

.icon-bianji1:before {
  content: "\e8ac";
}

.icon-shouhou:before {
  content: "\e773";
}

.icon-daishouhou:before {
  content: "\e600";
}

.icon-daifahuo:before {
  content: "\e601";
}

.icon-daishouhuo:before {
  content: "\e60a";
}

.icon-daifukan:before {
  content: "\e60b";
}

.icon-daipingjia:before {
  content: "\e60c";
}

.icon-qiandao:before {
  content: "\e60f";
}

.icon-qiandao1:before {
  content: "\e63a";
}

.icon-xiaoxi:before {
  content: "\e617";
}

.icon-xiaoxi1:before {
  content: "\e641";
}

.icon-xiaoxi2:before {
  content: "\e63e";
}

.icon-xiaoxi3:before {
  content: "\e79c";
}

.icon-xiaoxi4:before {
  content: "\e64b";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-xinzeng:before {
  content: "\e689";
}

.icon-dizhi1:before {
  content: "\e622";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-kefu:before {
  content: "\e644";
}

.icon-tuwenzixun:before {
  content: "\e683";
}

.icon-shipin:before {
  content: "\e618";
}

.icon-gonggao:before {
  content: "\e603";
}

.icon-fanhuidingbu:before {
  content: "\e613";
}

.icon-lunbotu:before {
  content: "\e6fe";
}

.icon-xuanxiangka:before {
  content: "\e709";
}

.icon-minus:before {
  content: "\e602";
}

.icon-fork:before {
  content: "\e604";
}

.icon-expander-down:before {
  content: "\e605";
}

.icon-page-next:before {
  content: "\e606";
}

.icon-window-restore:before {
  content: "\e607";
}

.icon-page-previous:before {
  content: "\e608";
}

.icon-plus:before {
  content: "\e609";
}

.icon-piliangcaozuo:before {
  content: "\e60d";
}

.icon-shanchu1:before {
  content: "\e63c";
}

.icon-shijian:before {
  content: "\e63d";
}

.icon-xiala:before {
  content: "\e646";
}

.icon-zuixiaohuaxi:before {
  content: "\e64c";
}

.icon-guanbixi:before {
  content: "\e64e";
}

.icon-shangjiantou:before {
  content: "\e65c";
}

.icon-shang:before {
  content: "\e65d";
}

.icon-gou:before {
  content: "\e662";
}

.icon-window-minimize:before {
  content: "\e669";
}

.icon-file-jpg:before {
  content: "\e66a";
}

.icon-page-previous1:before {
  content: "\e66b";
}

.icon-pause:before {
  content: "\e66c";
}

.icon-expander-down1:before {
  content: "\e66d";
}

.icon-ptz-left:before {
  content: "\e66e";
}

.icon-page-next1:before {
  content: "\e66f";
}

.icon-page-last:before {
  content: "\e670";
}

.icon-ptz-down:before {
  content: "\e671";
}

.icon-page-first:before {
  content: "\e672";
}

.icon-fork1:before {
  content: "\e673";
}

.icon-ptz-middle:before {
  content: "\e674";
}

.icon-plus1:before {
  content: "\e675";
}

.icon-ptz-right:before {
  content: "\e676";
}

.icon-stop:before {
  content: "\e677";
}

.icon-refresh:before {
  content: "\e678";
}

.icon-play:before {
  content: "\e679";
}

.icon-search:before {
  content: "\e67a";
}

.icon-fork2:before {
  content: "\e67b";
}

.icon-pause1:before {
  content: "\e67c";
}

.icon-play1:before {
  content: "\e67d";
}

.icon-page-previous2:before {
  content: "\e67e";
}

.icon-page-next2:before {
  content: "\e67f";
}

.icon-minus1:before {
  content: "\e680";
}

.icon-page-last1:before {
  content: "\e681";
}

.icon-page-first1:before {
  content: "\e682";
}

.icon-wenhao:before {
  content: "\e684";
}

.icon-shezhixuanzhong:before {
  content: "\e685";
}

.icon-shuaxin1:before {
  content: "\e68c";
}

.icon-dizhi:before {
  content: "\e68d";
}

.icon-shuju:before {
  content: "\e698";
}

.icon-shouye:before {
  content: "\e699";
}

.icon-quxiao:before {
  content: "\e69e";
}

.icon-daochu:before {
  content: "\e6a6";
}

.icon-zhifu:before {
  content: "\e6a9";
}

.icon-jiankong:before {
  content: "\e6b7";
}

.icon-jingshi:before {
  content: "\e6c5";
}

.icon-xitongpeizhi:before {
  content: "\e6ce";
}

.icon-mofangdaohang:before {
  content: "\e656";
}

.icon-biaoti:before {
  content: "\e650";
}

